
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  
}

body {

  background-color: #06000f;
  display: table;
}

.wip{
  color: #f59518;
  font-family: Arial, sans-serif;
  font-size:48px ;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}    
