html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #06000f;
}

body {
  display: table;
}

.wip{
  font-gamily: Arial;
  font-size: 32;
  font-color: #f59518;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}    
